@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap");
@import "tailwindcss";

:root {
  --background: #fffae6;
  --foreground: #2e5147;
  --primary: #fad0de;
  --secondary: #3b0618;

  --font-display: "Playfair Display", serif;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-display: var(--font-display);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fffae6;
    --foreground: #2e5147;
    --primary: #fad0de;
    --secondary: #3b0618;
    --font-display: "Playfair Display", serif;
  }
}

.font-edwardian {
  font-family: "Edwardian Script ITC", cursive;
}

.text-stroke-outside {
  -webkit-text-stroke: 3px white;
  color: transparent;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}
